/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();
body{
    margin:0;
    background-color: rgb(60, 60, 60); 
}

$custom-primary: mat-palette($mat-grey);
$custom-accent:  mat-palette($mat-teal);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: teal;; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: teal; 
  }