<mat-toolbar class="mat-elevation-z12" color="secondary">
  <mat-toolbar-row>
      <span><h1><a href="index.html">Strategy Game 2k19</a></h1></span>
      <span class="fill-space"></span>
      <span class="button">
        <button mat-button class="menuButton" [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)='this.showHero()'>Heroes</button>
          <button mat-menu-item (click)='this.showSpecies()'>Species</button>
        </mat-menu>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
<app-heroes *ngIf="this.isHero"></app-heroes>
<app-species *ngIf="this.isSpecies"></app-species>