.heroform {
    // min-width: 150px;
    // max-width: 300px;
    margin: 25px;
}

.createButton{
  background-color: darkgreen;
  color: bisque;
  font-weight: bolder;
}

.full-width {
    width: 100%;
}

.container {
  height: 400px;
  overflow: auto;
  background-color: rgb(66, 66, 66);
}

table {
  width: 50%;
  
}

.delete{
  margin: 10px;
}

.create{
  margin: 10px;
}

.mod {
  margin: 10px;
}
.delheroform{
  // min-width: 150px;
  // max-width: 300px;
  margin: 25px;
}

.modButton{
  background-color: goldenrod;
  color: bisque;
  font-weight: bolder;
}

.deleteButton {
  background-color: red;
  color: bisque;
  font-weight: bolder;
}