.heroform {
  color: bisque;
  margin: 25px;
}

.createButton {
  background-color: darkgreen;
  color: bisque;
  font-weight: bolder;
}

.full-width {
  width: 100%;
}

.container {
  height: 400px;
  overflow: auto;
  background-color: rgb(66, 66, 66);
}

.heroTable {
  margin: 25px;
}

table {
  width: 50%;
  // margin: 25px;
}

.delete {
  margin: 10px;
}

.create {
  margin: 10px;
}

.mod {
  margin: 10px;
}
.delheroform {
  margin: 25px;
}

.modButton {
  background-color: goldenrod;
  color: bisque;
  font-weight: bolder;
}

.deleteButton {
  background-color: red;
  color: bisque;
  font-weight: bolder;
}

mat-paginator {
  margin: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: teal;
}
