  <form class="heroform">
    <div class="container" fxLayout="row">
        <div fxFlex="33%" class="create">
    <mat-form-field class="full-width">
      <input matInput placeholder="Hero name" [(ngModel)]="hero.name" name="name" #name="ngModel">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Hero description" [(ngModel)]="hero.description" name="description" #name="ngModel" >
    </mat-form-field>
    <button mat-button class="createButton" color="primary" (click)="createHero()">Create!</button>
    </div>
    <div fxFlex="33%" class="mod">
        <mat-form-field class="full-width">
            <input matInput placeholder="Hero ID" [(ngModel)]="hero.id" name="id" #name="ngModel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Hero Name" [(ngModel)]="hero.name" name="name" #name="ngModel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Hero Description" [(ngModel)]="hero.Description" name="description" #name="ngModel">
        </mat-form-field>
          <button mat-button class="modButton" (click)="modHero()">Modify!</button>
        </div>
    <div fxFlex="33%" class="delete">
    <mat-form-field class="full-width">
        <input matInput placeholder="Hero ID" [(ngModel)]="hero.id" name="id" #name="ngModel">
      </mat-form-field>
      <button mat-button class="deleteButton" (click)="deleteHero()">Delete!</button>
    </div>
    </div>
  </form>
<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let data"> {{data.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let data"> {{data.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let data"> {{data.description}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    [length]="heroes.length"
    [pageIndex]="0"
    [pageSize]="10"
    showFirstLastButtons>
  </mat-paginator>